@{
    var currentUser = Brain.GetCurrentUser();
    var fullName = currentUser != null ? $"{currentUser.FirstName} {currentUser.LastName}" : "User";
}

<div class="greeting">
    <h2>Welcome, @fullName!</h2>
</div>

@if (Brain.CurrentTheme.AccountInfoStyle == AccountInfoStyle.Modern)
{
    <div id="account-info">
        @foreach (User.Account account in Brain.GetCurrentAccounts())
        {
            <div class="account-row row">
                <div class="col-12 col-md-8">
                    <h5>
                        @account.Name
                        <span>@($"XXXX{account.Last4Digits}")</span>
                    </h5>
                    <hr />
                    <h1>@account.FormattedBalance</h1>
                </div>
                <div class="col-12 col-md-4 action-section">
                    <ButtonGroup>
                        <ButtonGroupItem>
                            <Anchor Color="@(Brain.CurrentTheme.ButtonGroupAnchorColor)"
                                    Location='@($"/transactions/{account.Last4Digits}")'>
                                View transactions
                            </Anchor>
                        </ButtonGroupItem>
                        <ButtonGroupItem>
                            <Anchor Color="@(Brain.CurrentTheme.ButtonGroupAnchorColor)"              Location="/transfer">
                                Make a transfer
                            </Anchor>
                        </ButtonGroupItem>
                        <ButtonGroupItem>
                            <Anchor Color="@(Brain.CurrentTheme.ButtonGroupAnchorColor)">
                                More actions
                            </Anchor>
                        </ButtonGroupItem>
                    </ButtonGroup>
                </div>
            </div>
        }
    </div>
}
else if (Brain.CurrentTheme.AccountInfoStyle == AccountInfoStyle.Compact)
{
    <!-- DESKTOP TABLES -->
    <div class="desktop-only">
        <table id="accounts" class="table table-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Account Number</th>
                    <th>Available Balance</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (User.Account account in Brain.GetCurrentAccounts())
                {
                    <tr>
                        <td>
                            <Anchor Location='@($"/transactions/{account.Last4Digits}")'>
                                @account.Name
                            </Anchor>
                        </td>
                        <td>XXXX@(account.Last4Digits)</td>
                        <td>@account.FormattedBalance</td>
                        <td>
                            <Anchor Location="/transfer">Transfer</Anchor>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <h4>Your most recent transactions:</h4>
        <hr />
        <div id="recent-box">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (User.Account.Transaction transaction in AllTransactions().OrderByDescending(x => x.Date))
                    {
                        <tr>
                            <td>@transaction.Date.ToString("MM/dd")</td>
                            <td>@transaction.Description</td>
                            <td>@transaction.Type</td>
                            <td>@transaction.FormattedAmount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- MOBILE CARDS -->
    <div class="mobile-only">
        @foreach (User.Account account in Brain.GetCurrentAccounts())
        {
            <div class="account-card">
                <div class="card-header">
                    <h5>@account.Name</h5>
                    <span>XXXX@(account.Last4Digits)</span>
                </div>
                <div class="card-body">
                    <div class="balance">@account.FormattedBalance</div>
                </div>
                <div class="card-actions">
                    <Anchor Location='@($"/transactions/{account.Last4Digits}")'>View</Anchor>
                    <Anchor Location="/transfer">Transfer</Anchor>
                </div>
            </div>
        }

        <h4>Your most recent transactions:</h4>
        <hr />
        @foreach (User.Account.Transaction transaction in AllTransactions().OrderByDescending(x => x.Date))
        {
            <div class="transaction-card">
                <div><strong>@transaction.Description</strong></div>
                <div>@transaction.Type</div>
                <div>@transaction.Date.ToString("MM/dd")</div>
                <div class="amount">@transaction.FormattedAmount</div>
            </div>
        }
    </div>
}