@page "/transactions/{Digits:int}"

@if (Account != null)
{
    <div class="container">
        <div id="table-header" style="background-color: @(Brain.CurrentTheme.SecondaryBackgroundColor)">
            <div class="row">
                <div class="col-sm-8">
                    <h2 style="color: @(Brain.CurrentTheme.PreheaderAnchorColor)">@($"Account ****{Account.Last4Digits}                    History")</h2>
                </div>
                <div class="col-sm-4">
                    <h5 style="color: @(Brain.CurrentTheme.PreheaderAnchorColor)">@($"Available Balance:    {Account.FormattedBalance}")</h5>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope>Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Type</th>
                    <th scope="col">Amount</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (User.Account.Transaction transaction in Account.PastTransactions.OrderByDescending(x => x.Date))
                {
                    <tr>
                        <td>@transaction.Date.ToString("MM/dd")</td>
                        <td>@transaction.Description</td>
                        <td>@transaction.Type</td>
                        <td>@transaction.FormattedAmount</td>
                        <td>
                            @if (IsHoldTransaction(transaction))
                            {
                                <button class="hold-action" @onclick="() => ShowHoldMessage(transaction)">Hold</button>
                            }
                            else
                            {
                                <Anchor Color="red">Dispute</Anchor>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p>
            We only display the past 30 days of account activity in your web portal. Please use the mobile banking app for
            the full experience.
        </p>
    </div>
}
else if (Digits == -1)
{
    <div class="container">
        <div id="table-header" style="background-color: @(Brain.CurrentTheme.SecondaryBackgroundColor)">
            <div class="row">
                <div class="col-sm-8">
                    <h2 style="color: @(Brain.CurrentTheme.PreheaderAnchorColor)">@($"Account History")</h2>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope>Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Type</th>
                    <th scope="col">Amount</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (User.Account.Transaction transaction in AllTransactions().OrderByDescending(x => x.Date))
                {
                    <tr>
                        <td>@transaction.Date.ToString("MM/dd")</td>
                        <td>@transaction.Description</td>
                        <td>@transaction.Type</td>
                        <td>@transaction.FormattedAmount</td>
                        <td>
                            @if (IsHoldTransaction(transaction))
                            {
                                <button class="hold-action" @onclick="() => ShowHoldMessage(transaction)">Hold</button>
                            }
                            else
                            {
                                <Anchor Color="red">Dispute</Anchor>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p>
            We only display the past 30 days of account activity in your web portal. Please use the mobile banking app for
            the full experience.
        </p>
    </div>
}

@if (showHoldModal)
{
    <div class="modal show d-block hold-modal-backdrop">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header hold-modal-header"
                     style="background-color: @(Brain.CurrentTheme.SecondaryBackgroundColor); color: @(Brain.CurrentTheme.PreheaderAnchorColor)">
                    <h5>Transaction On Hold</h5>
                    <button class="close" @onclick="CloseHoldMessage">&times;</button>
                </div>
                <div class="modal-body">
                    <p>
                        This transaction has been placed on hold and the account has been frozen for security review.
                        Please contact customer support to complete account verification, request the account to be unfrozen,
                        and proceed with any eligible withdrawal.
                    </p>
                    <p>
                        Support: @Brain.SupportPhoneNumber<br />
                        Email: @Brain.SupportEmail
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn hold-close-button"
                            style="background-color: @(Brain.CurrentTheme.PrimaryBackgroundColor); border-color: @(Brain.CurrentTheme.PrimaryBackgroundColor)"
                            @onclick="CloseHoldMessage">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
}
