@namespace Bank.Shared.Components.Navbar
@using Bank.Shared.Components.Navbar.NavbarLinks

@if (Brain.CurrentTheme.NavbarStyle == NavbarStyle.Basic)
{
    <header class="navbar-container"
            style='@($"background-color: {Brain.CurrentTheme.PrimaryBackgroundColor}; color: {Brain.CurrentTheme.HeaderAnchorColor}")'>

        <div class="container navbar-flex">

            <!-- Bank Name -->
            <h2 class="bank-name"          style='@($"color: {Brain.CurrentTheme.HeaderNameColor}")'>
                @Brain.BankName
            </h2>

            <!-- Hamburger -->
            <div class="hamburger" @onclick="ToggleMenu">&#9776;</div>

        </div>

        <!-- Menu -->
        <nav class="header-menu @(menuVisible ? "show" : "")">
            <ul class="nav">
                <NavbarLinks />
            </ul>
        </nav>

    </header>
}
else if (Brain.CurrentTheme.NavbarStyle == NavbarStyle.Seperated)
{
    <div class="menu navbar-container">

        <div class="container navbar-flex">

            <h2 class="bank-name"        style='@($"color: {Brain.CurrentTheme.HeaderNameColor}")'>
                @Brain.BankName
            </h2>

            <div class="hamburger" @onclick="ToggleMenu">&#9776;</div>

        </div>

        <nav class="header-menu @(menuVisible ? "show" : "")">
            <ul class="nav">
                <NavbarLinks />
            </ul>
        </nav>

    </div>
}
else if (Brain.CurrentTheme.NavbarStyle == NavbarStyle.Modern)
{
    <div class="modern navbar-container">

        <div class="container navbar-flex">

            <h3 class="bank-name" style="color: @(Brain.CurrentTheme.HeaderNameColor)">
                @Brain.BankName
            </h3>

            <div class="hamburger" @onclick="ToggleMenu">&#9776;</div>

        </div>

        <nav class="header-menu @(menuVisible ? "show" : "")">
            <ul class="nav">
                <NavbarLinks />
            </ul>
        </nav>

    </div>
}

@code {
    private bool menuVisible = false;

    private void ToggleMenu()
    {
        menuVisible = !menuVisible;
    }
}