@namespace Bank.Shared.Components.Navbar
@using Bank.Shared.Components.Navbar.NavbarLinks

@if (Brain.CurrentTheme.NavbarStyle == NavbarStyle.Basic)
{
    <header
        style='@($"background-color: {Brain.CurrentTheme.PrimaryBackgroundColor}; color: {Brain.CurrentTheme.HeaderAnchorColor}")'
        class="navbar-container">
        <div class="container position-relative">
            <h2 style='@($"margin-top: 8px; color: {Brain.CurrentTheme.HeaderNameColor}")'>@Brain.BankName</h2>

            <!-- Hamburger (absolute on mobile) -->
            <div class="hamburger" @onclick="ToggleMenu">&#9776;</div>

            <!-- Navbar links -->
            <nav class="header-menu @(menuVisible ? "show" : "")">
                <ul class="nav mx-auto">
                    <NavbarLinks />
                </ul>
            </nav>
        </div>
    </header>
}
else if (Brain.CurrentTheme.NavbarStyle == NavbarStyle.Seperated)
{
    <div class="menu navbar-container">
        <div class="container position-relative">
            <h2 style='@($"margin-top: 8px; color: {Brain.CurrentTheme.HeaderNameColor}")'>@Brain.BankName</h2>

            <!-- Hamburger -->
            <div class="hamburger" @onclick="ToggleMenu">&#9776;</div>

            <!-- Navbar links -->
            <nav class="header-menu @(menuVisible ? "show" : "")">
                <ul class="nav mx-auto">
                    <NavbarLinks />
                </ul>
            </nav>
        </div>
    </div>
}
else if (Brain.CurrentTheme.NavbarStyle == NavbarStyle.Modern)
{
    <div class="modern navbar-container">
        <div class="container position-relative d-flex justify-content-between align-items-center">
            <h3 style="color: @(Brain.CurrentTheme.HeaderNameColor)">@Brain.BankName</h3>

            <!-- Hamburger -->
            <div class="hamburger" @onclick="ToggleMenu">&#9776;</div>

            <!-- Navbar links -->
            <nav class="header-menu @(menuVisible ? "show" : "")">
                <ul class="nav mx-auto">
                    <NavbarLinks />
                </ul>
            </nav>
        </div>
    </div>
}

@code {
    private bool menuVisible = false;

    private void ToggleMenu()
    {
        menuVisible = !menuVisible;
    }
}